@{
    ViewBag.Title = "Contact Us";
    ViewBag.showNavigation = false;
}

<br /><br />
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Contact Us!</h3>
            <hr>
            <address>
                <strong>Email:</strong> <a href="mailto:#">nooralibutt@gmail.com</a><br>
                <br>
                <strong>Phone:</strong> +92-313-4408920
            </address>
        </div>

        <div class="col-sm-6 contact-form">
            <form id="contact" method="post" class="form" role="form">
                <div class="row">
                    <div class="col-xs-4 col-md-4 form-group">
                        <input class="form-control" id="name" name="name" placeholder="Name" type="text" required autofocus />
                    </div>
                    <div class="col-xs-4 col-md-4 form-group">
                        <input class="form-control" id="email" name="email" placeholder="Email" type="email" required />
                    </div>
                </div>
                <textarea class="form-control" id="message" name="message" placeholder="Message" rows="3"></textarea>
                <br />
                <div class="row">
                    <div class="col-xs-12 col-md-12 form-group">
                        <button class="btn btn-primary pull-right" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
